@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  padding: 0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.custom-tabs .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn,
.custom-tabs .ant-tabs-nav .ant-tabs-tab-btn:hover {
  color: #2BA600; /* Change the color of the active tab link and its hover state */
}

.custom-tabs .ant-tabs-ink-bar {
  background-color: #2BA600; /* Change the color of the underline */
}

.custom-tabs .ant-tabs-nav .ant-tabs-tab {
  font-weight: 500; /* Set the font weight to medium */
}

.custom-tabs .ant-tabs-nav {
  border-bottom: none; /* Hide the bottom border of the tabs */
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-tabs-top >.ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-tabs-bottom >.ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-tabs-top >div>.ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-tabs-bottom >div>.ant-tabs-nav::before {
    border-bottom: none !important; /* Hide the border */
}


